.App {
    text-align: center;
}

.Nav {
    background-color: #313131;
    padding         : 1em;

    .link {
        color          : white;
        margin         : 2em;
        text-decoration: none;
    }
}